@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
.form-body{
    background: linear-gradient(45deg, #3498db, #9b59b6);
    height: 100vh;
    padding:1rem 0;
    font-family: "Poppins", sans-serif;
}
.form-container{
width:55vw;
height: 80vh;
margin:0 auto;
border-radius: 10px;
background: white;
padding:2rem;
}
.element-box{
    margin: 12px 10px;
    padding: 3px;
    display: flex;

}
.lbl-name{
    padding:2px;

}
.lbl-input{
    flex-grow: 1;
    margin-left:10px;
    border: none;
    border-bottom: 1px solid black;
}
input[type="submit"]{
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin:1rem 40px
  }


